button {
  background-color: #badc58;
  border-radius: 1000px;
  color: black;
  width: 20%;
  border-color: #badc58;
}
button:disabled {
  background-color: #d1d8e0;
  border-color: #d1d8e0;
  color: #808e9b;
}
